apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - networkpolicy.yaml
  - rbac.yaml
images:
  - name: semaphore-xds
    newName: quay.io/utilitywarehouse/semaphore-xds
    newTag: v0.4.1
